@import 'tailwindcss';

@theme {
	--color-primary-50: #f9dce2;
	--color-primary-100: #f6d0d8;
	--color-primary-200: #f4c5ce;
	--color-primary-300: #eea2b1;
	--color-primary-400: #e15c77;
	--color-primary-500: #d4163c;
	--color-primary-600: #bf1436;
	--color-primary-700: #9f112d;
	--color-primary-800: #7f0d24;
	--color-primary-900: #680b1d;
}
